<!--nav search -->
<form>
  <a href="/#/newAngles/login" ng-click="Logout()">Log Out</a>
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group"> 
        <input type="text" class="form-control input-search" placeholder="Search" ng-model="searchInput">
        <span class="input-group-btn">
          <button class="btn btn-search" type="button" ng-click="Search(searchInput)"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</form>


<!--Pin it section-->
<div class="row">
  <div class="col-sm-6">
    <div class="thumbnail">
      <input type="text" ng-model="pinUrl" class="form-control" placeholder="Pin http://">
      <input type="text" ng-model="pinCategory">
      <p>
        <button class="btn btn-danger" 
                role="button" 
                ng-click="Pinit()">Add Pin
        </button>
      </p>
    </div>
  </div>
</div>
          
<!--individual pin-->
<div class="row" ng-repeat="pin in pins | filter: {userId: userId} | unique:'url'" ng-model="pins">
  <div class="col-sm-6">
    <div class="thumbnail" id="{{pin.userId}}">
        <img src= "{{pin.url}}">
      <button class="btn btn-danger">Pin it</button>
      <button ng-click="deletePin(pin)">Delete</button>
    </div>
  </div>
</div>



  
