<!--nav search -->
<form>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control input-search">
        <span class="input-group-btn">
          <button class="btn btn-search" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</form>


<!--image area to add-->
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <input type="text" ng-model="pinit">
        <input type="text" ng-model="category">
        <p><a href="#" class="btn btn-primary" role="button" ng-click="Pinit(pinit, category); Categories(category)">Pin it</a><a href="#" class="btn btn-default" role="button">Delete</a></p>
    </div>
  </div>
</div>
<div class="row" ng-repeat="object in pins" ng-model="pins">
  <div class="col-sm-6 col-md-4" ng-repeat="(key, value) in object">
        {{key}}
      <a href="#" class="btn btn-default" role="button">Delete</a>
  </div>
</div>



  
