.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.thumbnail {
	width: 250px;
	height: 350px;
	border-radius: 10px;
}

body {
	background-color: #E8E8E8;
}

.logo {
	width: 35px;
	height: 35px;
	float: left;

}

#input-search {
	width: 96.2%;
}

.logo-logIn {
	width: 50px;
	height: 50px;
	text-align: center;
	margin: 10% 40%;
}
#userName {
	text-align: center;
}
#log-out-link {
	float: right;
	padding-right: 10px;
	margin-top: 20px;
}
#profile-link {
	padding-left: 10px;
}


/*#add-pin {
	width: 70%;
	float: right;
	min-height: 900px;

}*/





